.timeline-item {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    margin: 10px 0;
    width: 50%;
}

.timeline-item:nth-child(odd) {
    align-self: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
}

.timeline-item-content {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    background-color: turquoise;
    border-radius: 5px;
    width: 400px;
    padding: 15px;
    position: relative;

}

.timeline-item-content::after {
    content: " ";
    background-color: turquoise;
    position: absolute;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    right: -7.5px;
    top: calc(50% - 7.5px);
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
}

.timeline-item-content .circle {
    background-color: white;
    border: 3px solid red;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: absolute;
    top: calc(50% - 15px);
    right: -45px;
    z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
    right: auto;
    left: -45px;
}