.container {
}
.countySelector{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.searchCounty{
    display: flex;
    justify-content: center;
    width: 150px;
    margin-top: 10px;
    background-color: #a3a4a5;
    border-color: #a3a4a5;
    color: #021b45;

}
.searchCounty:hover {
    background-color: #d90429;
    border-color: #d90429;
    color: white;
  }

  .searchCounty:active {
    background-color: #021b45;
    border-color: #021b45;
    color: white;
  }
.header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: 700;
    color: #021b45;
}
.chart{
    margin: 45px;
}
.rawNumbers {
    /* display: flex;
    justify-content: center; */
    
}
.population{
    font-size: 40px;
    font-weight: 900;
    color: #021b45;
    margin:5
}
.householdimcone{
    font-size: 30px;
    font-weight: 900;
    color: #021b45;
    margin:5
}
.povertyLine{
    font-size: 20px;
    font-weight: 1000;
    color: #021b45;
    margin:5  
}