
.countySelector{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.searchCounty{
    display: flex;
    justify-content: center;
    width: 165px;
    height: 30px;
    margin-top: 10px;
    border-radius: 5%;
    background-color: #a3a4a5;
    border-color: #a3a4a5;
    color: #021b45;

}
.Echart {
    margin-left: 300px;
}
.infoCard {
    text-align: center;
    padding: 10px;
    background-color: #f1faee;
    border-radius: 5px;
    margin-top: 20px;
}
.searchCounty:hover {
    background-color: #d90429;
    border-color: #d90429;
    color: white;
  }

  .searchCounty:active {
    background-color: #021b45;
    border-color: #021b45;
    color: white;
  }
.header{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 50px;
    font-weight: 700;
    color: #021b45;
}
.chart{
    margin: 45px;
}
.rawNumbers {
    text-align: center;
    
}
.population{
    font-size: 40px;
    font-weight: 900;
    color: #021b45;
    margin:5
}
.householdimcone{
    font-size: 30px;
    font-weight: 900;
    color: #021b45;
    margin:5
}
.povertyLine{
    font-size: 20px;
    font-weight: 1000;
    color: #021b45;
    /* margin:5; */
    margin-bottom: 25px;  
}

.disclaimer{
    font-size: 15px;
}
.disclaimerContainer{
    text-align: center; 
    margin-top: 30px;
}
Row {
    align-content: center;
}
.Industry {
    margin-top: 35px;
}
