.article-Header {
text-align: center;
background-color: #f1faee;
/* background-image: url(https://c8.alamy.com/comp/DD50F3/retro-grunge-paper-paper-texture-for-background-and-wallpaper-DD50F3.jpg); */
border-radius: 5px;
margin-top: 10px;
padding: 10px;
width: 50%;
}

.art-Header {
    color: #e63946;
}

