.mainArticles {
background-color: #e63946;
padding: 10px;
}

.mainLanding{
    background-color: #c0c0c0;
}

.topHeader {
    background-color: #f1faee;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.newsLine {
    border-color: #f1faee;
}

.landingImg {
    border-radius: 5px;
    width: 50%;
}

.cardText {
    color: black;
}

.card {
    padding: 10px;
    width: 100%;
    margin: 5px;
    background-color: #f1faee;
    border-radius: 10px;
    text-align: center;
    border-radius: 5px;
}

.newsCol {
    margin-bottom: 10px;
}

.landRow {
    justify-content: center;
}

@media (min-width: 768px) {
    .topHeader {
        width: 75%;
    }
}

