.mainArticles {
background-color: #e63946;
padding: 10px;
}

.topHeader {
    background-color: #f1faee;
    border-radius: 10px;
    width: 50%;
    padding: 10px;
}

.landingImg {
    border-radius: 5px;
    width: 50%;
}

.cardText {
    color: black;
}

.card {
    padding: 10px;
    width: 95%;
    margin: 5px;
    background-color: ivory;
    border-radius: 10px;
}

