.mainCount {
    text-align: center;
    /* background-image: url(https://i.pinimg.com/originals/28/f6/c3/28f6c3b7295a3cc896f9613e83a5c32e.jpg); */
    background-color: #457b9d; 
    color: #e63946;
    font-size: 36px;
    margin: 0px;
    padding: 20px;
}

.countHeader {
    font-size: 48px;
    color: white;
    margin-top: 0;
}
