.artImg {
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px
}

.searchBar {
    width: 60%;
    margin-bottom: 30px;
}

.search-field {
    margin-left: 5px;
}

.searchForm {
    margin-bottom: 20px;
}

.newsRow {
    margin-bottom: 10px;
    display: flex;
}

.newsInfo {
    margin-left: 10px;
}

.sideBar {
    width: 100%;
    overflow: hidden;
}

.sideImg {
    height: 230px;
}