.main {
background-color: #c0c0c0;
}

.artImg {
    border-radius: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.searchForm {
    margin-top: 20px;
    width: 60%;
    margin-bottom: 30px;
    margin-left: 15px;
}

.searchBar {
    margin-bottom: 5px;
}

.search-field {
    margin-left: 5px;
}

.searchForm {
    margin-bottom: 20px;
}

.newsRow {
    background-color: #f1faee;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
    padding: 10px;
}

.newsInfo {
    background-color: #1d3557;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 16px;
    width: 83%;
}

.mainNews {
display: flex;
flex-wrap: wrap;
}

.sideBarRow {
    background-color: #f1faee;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.sideImg {
    height: 230px;
}

.adPic {
    width: 100%;
}

.allMain {
    background-color: #c0c0c0;
}