.navbar {
    background-color: #a3a4a5;
    margin-bottom: 0;
}

.nav-link {
    margin-right: 5px;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.log-link {
    color: white;
    text-decoration: none;
}

.navbar-nav {
    float: right;
    margin-right: 5px;
    padding-top: 5px;
}

.navbar-brand {
    font-size: 28px;
}

.red {
    color: #d90429;
}

.white {
    color: white;
}

.blue {
    color: #021b45;
}

.userPic {
    height: 50px;
    border-radius: 50%;
}