.navbar {
    background-color: #f1faee;
    margin-bottom: 0;
    border-radius: 0px;
}

.nav-link {
    /* margin-right: 5px; */
    font-size: 20px;
    color: black;
    text-decoration: none;
    line-height: 40px;
}

.log-link {
    color: black;
    text-decoration: none;
    line-height: 64px;
    font-size: 14px;
}

.navbar-nav {
    float: right;
    margin-right: 5px;
    padding-top: 5px;
}

.navbar-brand {
    font-size: 28px;
}

.red {
    color: #d90429;
}

.white {
    color: black;
}

.blue {
    color: #021b45;
}

.userPic {
    height: 50px;
    border-radius: 50%;
}

@media (min-width: 576px) {
    .nav-link {
        line-height: 30px;
}

.navbar-brand {
    float: left;
}

    
}

@media (max-width: 576px) {
    .navbar-nav {
        float: none;
    }
    
    .navbar-brand {
        float: none;
    }
    
    .navbar {
        text-align: center;
        padding: 10px;
    }
        
    }

    @media (min-width: 768px) {
        .nav-link {
            line-height: 45px;
    }
    }    