.timeline-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    margin: 0;
}

#root {
    width: 100%;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 40px 0;
    width: 100%;
}

.timeline-container::after {
    background-color: #d90429;
    content: "";
    position: absolute;
    left: calc(50% - 3px);
    width: 6px;
    height: 100%;
}

