.title {
    font-size: 20px ;
}

.about {
    font-size: 14px;
}

.published {
    font-size: 12px;
}

.source {
    font-size: 12px;
}

.article-btn {
    background-color: #e63946;
    border-color: #e63946;
    color: white;
    text-transform: capitalize;
}

.article-btn:hover {
    text-transform: uppercase;
    color: white;
}

.saveBtn {
    background-color: #2a9d8f;
    border-color: #2a9d8f;
    color: white;
    text-transform: capitalize;
    border-radius: 10px;
}

.saveBtn:hover {
    background-color: #2a9d8f;
    border-color: #2a9d8f;
    text-transform: uppercase;
    color: white;
    border-radius: 10px;
    text-decoration: none;
}

@media (max-width: 991px) {

    .article-btn {
        margin-bottom: 5px;
    }

    .artImg {
        width: 25%;
    }

    .newsInfo {
        width: 100%;
    }

}

@media (max-width: 568px) {

    .artImg {
        width: 50%;
    }

}

@media (max-width: 375px) {

    .picCol {
        text-align: center;
    }

    .artImg {
        width: 100%;
    }

}

